extends ./navbar.pug
block content
            .container
               .row.h1.text-center.text-danger Java
               .row
                          p.
                               &#12288;&#12288;Java是我最先接触的语言，Java的设计最不同的我觉得其实并不是他的编程，他的编程与C相象，
                               但是他将C中复杂的指针以及需要程序员关心的堆回收取消了，他真正的不同我觉得还是jvm的汇编实现。jvm的汇编实现
                               不同于一般的机器，他并没有寄存器，相反它使用操作数栈来实现自己的汇编，个人对于java底层的字节码也有学习过一点。
                               java的字节码以CAFEBABE作为自己的魔数，与他的商标一样，学了字节码后我也知道了为什么java叫做字节码，因为jvm的指令
                               都是一字节,当然就像一般的机器语言一样，也是有一地址指令二地址指令的，jvm我觉得是有一种化繁为简的设计哲学的，
                               javap更是让我了解到了java底层的汇编码。个人觉得java用到javap已经足够了，因为现在已经不太可能重复早轮子了，
                               当然那种要做芯片这种底层编程的是个例外，有时候我觉得世界是奇怪的，就像之前曾经投过一些，我个人写的是更底层一些的技术
                               ，照道理应该底层的会了，你还怕上层的不会吗？不过对别人并没有什么成效，个人觉得或许这是一种讽刺吧！java对程序员而言只是
                               jar包而已，java用的好坏很大程度上取决于你所能使用的类库的多少，java本身并不强大，强大的是他的jar包，那么，您觉得我能使用多少jar包呢？
                          p.h3.text-danger.
                               如果您想了解我的java水平的话，是否可以给个!{"<a href=\"./apply.html\">"}面试!{"</a>"}的机会呢？
                               我个人比较厌恶说谎，没有经验就是没有经验。但是，这也并不代表我比有经验的差。
                               有些人做了两年编程还是如此不堪。就看您怎么看我？您认为我也是不堪的那一堆的吗？
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               