extends ./navbar.pug
block content
            .container
               .row.h1.text-center.text-danger 数据库
               .row
                          p.
                               &#12288;&#12288;数据库是现在http的持久化解决策略，由于http本身并不存在在持久化的技术，所以引入了数据库，作为持久化的解决
                               方案，个人用过mysql和oracle。mysql作为一款免费产品个人认为性能不如oracle，oracle功能更丰富（居然都到oracle旗下了希望
                               mysql可以加更多的功能），oracle本身功能比mysql强大很多，自身沿用了许多java的概念，所以oracle的二次开发性很高，它比mysql
                               在二次开发上优秀的地方在于oracle支持包，触发器支持语句级的，他的强大在此让我见识到了java的家底之厚，本身这个数据库
                               就相当于一个小型的java，更能自定义类型，使他功能比mysql强大很多。对于数据库个人觉得低端操作增删改查，高端操作触发器，
                               存储过程，那么我是高端操作还是只会底端操作的人呢？
                          p.h3.text-danger.
                               如果您想对我的数据库技术详细了解的话，是否可以给个!{"<a href=\"./apply.html\">"}面试!{"</a>"}的机会呢？
                               我个人比较厌恶说谎，没有经验就是没有经验。但是，这也并不代表我比有经验的差。
                               有些人做了两年编程还是如此不堪。就看您怎么看我？您认为我也是不堪的那一堆的吗？