doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
  body
   audio(src="../music/bg.ogg" autoplay="autoplay" loop="loop")
   include mixin
   + navbar(navbar)
   block content